html,
body {
	padding: 0;
	margin: 0;

	font-family: 'Courier New', Courier, monospace;
	background: #fff;
	color: #000;
}

* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 1rem;
	gap: 1rem;
}

h1 {
	font-size: 200%;
	font-weight: bold;
}

main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 0.5rem 1rem;
	justify-items: center;
}

label {
	text-align: right;
}


input[type="range"] {
	position: relative;
}

input[type="range"]::after {
	content: attr(data-value);
	position: absolute;
	left: 100%;
	margin-left: 0.5rem;
}

input:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

img, canvas {
	border: solid 1px black;
	max-width: 100%;
	max-height: 100%;
}
