:root {
	--white: #FFF;
	--black: #000;
}

html {
	background-color: var(--white);
	color: var(--black);
	font-family: 'Courier New', Courier, monospace;
	height: 100%;
}

* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 1rem;
	gap: 1rem;
	min-height: 100%;
}

h1 {
	text-align: initial;
	font-size: 200%;
	font-weight: bold;
}

main {
	display: grid;
	grid-template-columns: 0fr 1fr;
	grid-gap: 0.25rem 1rem;
	width: 100%;
	min-height: 100%;
}

hr {
	grid-column: span 2;
	width: 100%;
	margin: 0;
	border: 0;
	border-top: solid 1px #BBB;
}

h1 {
	grid-column-start: 2;
}

@media screen and (max-width: 32rem) {
	h1 {
		grid-column-start: unset;
		grid-column: span 2;
		text-align: center;
		font-size: 125%;
	}
}

label {
	text-align: right;
	align-self: center;
}

ul li:not(:last-of-type)::after {
	content: 'or';
}


input[type="file"] {
	width: 100%;
}

.range {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.range>input[type="range"] {
	flex: auto;
	width: 100%;
}

.range>input[type="number"] {
	flex: none;
	width: 0;
	min-width: 5rem;
}

button:disabled,
input:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

img,
canvas,
video {
	border: solid 1px var(--black);
	max-width: 100%;
	max-height: 100%;
}

img[src=""] {
	display: none;
}

dialog {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	border: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}

dialog::backdrop,
dialog+.backdrop {
	background-color: rgba(0, 0, 0, 0.8);
}

dialog+.backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

dialog h2 {
	color: var(--white);
}

dialog video {
	background-color: var(--black);
	width: 100%;
	height: 100%;
}

dialog nav {
	width: 100%;
	flex: none;
	display: flex;
	flex-wrap: wrap;
}

dialog nav button {
	flex: auto;
	width: auto;
}

button {
	width: 100%;
}

input,
button {
	font-family: inherit;
	cursor: pointer;
	padding: 0.25rem;
}

#fill {
	width: auto;
	padding: 0;
}

canvas {
	background-color: #FFF;
}

.invert canvas {
	background-color: #000;
}

footer {
	margin-top: auto;
	font-size: 75%;
	text-align: right;
	align-self: flex-end;
}

#toggle-theme {
	font-size: 0;
	color: transparent;
	width: auto;
	margin-inline-end: 0.5rem;
}
#toggle-theme::after {
	content: '🔆';
	font-size: 1rem;
	color: initial;
}

:root[data-theme="dark"] {
	color-scheme: dark;
	--white: #000;
	--black: #FFF;
}
:root[data-theme="dark"] #toggle-theme::after {
	content: '🌙';
}
@media (prefers-color-scheme: dark) {
	:root:not([data-theme]) {
		color-scheme: dark;
		--white: #000;
		--black: #FFF;
	}
	:root:not([data-theme]) #toggle-theme::after {
		content: '🌙';
	}
}
